*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.head{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
Form{
  max-width: 400px;
  width: 100%;
  background: white;
  padding: 50px 50px;
  border-radius: 5px;
}

button{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }

 
 




